ul.postContainer
    for post in posts    
        li.post
            div=post.title
            div=post.message

            //- We need to access the author's name to display it, currently we just have the authors id number