header
    form(action="/" method="get")
        button(type="submit") Home
    if locals.user
        form(action="/newPost" method="get")
            button(type="submit") New Post
        form(action="/logOut" method="get")
            button(type="submit") Log Out
    else 
        form(action="/existingUser" method="get")
            button(type="submit") Log In (existing user)
        form(action="/newUser" method="get")
            button(type="submit") Create new user
