form(action="/logIn", method="post" autocomplete="off") 
    h2 Log In
    .formComponent
        label(for="email") Email:
            input(type="text" name="email") 
    .formComponent
        label(for="password") Password:
        input(type="text" name="password" required)
    .formComponent 
        button(type="submit") Submit
