<form action="/logIn" method="post" autocomplete="off">
    <h2>Log In:</h2>
    <div class="formComponent">
        <label for="username">Email:</label>
        <input type="text" name="username">
    </div>
    <div class="formComponent">
        <label for="password">Password:</label>
        <input type="text" name="password">
    </div>
    <div class="formComponent">
        <button type="submit">Submit</button>
    </div>


</form>