form(action="/logIn", method="post" autocomplete="off" class="styledForm") 
    h2 Existing User
    .formComponent
        label(for="username") Email:
        input(type="text" name="username") 
    .formComponent
        label(for="password") Password:
        input(type="text" name="password" required)
    .formComponent 
        button(type="submit") Submit