* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(208, 209, 210);
}

header {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
}

.styledForm {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 1rem;
  min-width: 20rem;
}

.formComponent {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.postContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 1rem;
  width: 80%;
}

.post {
  border: 3px solid rgb(107, 209, 250);
  background-color: white;
  border-radius: 10px;
  width: 100%;
  margin: .2rem;
  padding: .2rem;
}

.postLabel {
  color: rgb(29, 111, 144);
}

.deleteForm {
  margin: 0;
  padding: 0;
}

button {
  margin: .4rem;
  background-color:rgb(107, 209, 250);
  color: black;
  border-radius: 10px;
  padding: .4rem;

}

button a {
  color: black;
} 