html 
    head 
        title=title 
        link(rel="stylesheet", href="/style.css")
    body 
        h1=title
        include ../components/header
        include ../components/errors
        if locals.user 
            div #{user.first_name} Create your message:
            include ../components/newPostForm
        else 
            .errorMessage You are not logged in. Return home. 
