html 
    head 
        title=title 
        link(rel="stylesheet", href="/style.css")
    body 
        h1=title
        include ../components/header
        include ../components/errors
        if message
            .errorMessage #{req.message}

        include ../components/login
