html 
    head 
        title=title 
        link(rel="stylesheet", href="/style.css")
    body 
        h1=title
        include ../components/header
        include ../components/errors
        if locals.user 
            h2 Welcome Back #{user.first_name}!
        include ../components/displayMessages